body {
    font-family: sans-serif;


}

h1 {
    font-size: 40px;
    color:#481677;
}

.inf{
    font-size: 20px;
    font-weight: 700;
    color:#481677;
}

p{
    width: 70%;
}

main{
   margin-left: 180px;
}


nav a {
position: fixed;
left: -80px;
transition: 0.3;
padding: 15px;
width: 100px;
text-decoration: none;
font-size: 20px;
color: #a23e48;
border-radius: 0 5px 5px 0;
}


.about{
top: 20px;
background-color:#cae7b9 ;

}


.blog{
top: 80px;
background-color: #f3de8a;
}

.projects{
top: 140px;
background-color: #97a7b3;
}


.contact{
top: 220px;
background-color: #b2ff9e;
}



nav a:hover{
left: 0;

}


img:hover{
    width:80% ;

}

